.App {
  text-align: center;
}

.search-bar {
  padding: 30px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
